<h1>{{ project.title }}</h1>
<p>{{ project.description }}</p>
{% if requirements %}
    <p>Requirements:</p>
    {% for requirement in requirements %}
    <ul>
        <li>{{ requirement.text }}</li>
    </ul>
    {% endfor %}
{% else %}
    <p>No requirements</p>
{% endif %}

<form action="{% url 'projects:detail' project.id %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="method" value="DELETE"/>
    <input type="hidden" name="project_id" value="{{ project.id }}"/>
    <input type="submit" name="submit" value="Delete this project"/>
   
</form>

<form action="{% url 'projects:detail' project.id %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="method" value="PATCH"/>
    <input type="hidden" name="project_id" value="{{ project.id }}"/>
    <input type="hidden" name="field" value="title" />
    <input type="text" name="new_value" placeholder="New Title" required/>
    <input type="submit" name="submut" value="update"/>
</form>
   
<a href="{% url 'projects:index' %}">Go back.</a>